:root
{
    --primary-background-color: #e6e6ee;
    --secondary-background-color: #f3f3f3;
    --third-background-color: rgb(255, 255, 255);
    --content-primary-color: rgba(6, 14, 29, 0.75);
    --content-secondary-color: rgba(54, 56, 58, 0.65);
    --content-third-color: rgb(156, 154, 154);
    --background-color: #ccc;
    --padding-comment-content: 25px;
    --margin-between-comment: 1em;
    --red-color: rgb(255, 95, 95);
    --green-color: rgb(60, 196, 48);
    --alert-background-color:  #00baf3;;
    --alert-danger-background-color: #d14130;
    --alert-success-background-color: #99c93d;
}
*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body
{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: var(--content-primary-color);
    line-height: 1.4;
    background-color: var(--primary-background-color);
}
.comment_label,
h1, h2, h3, h4, h5, h6
{
    font-weight: 600;
    color: var(--content-primary-color);
    font-size: 16px;
}

.alert{
    display: flex;
    flex-direction: column;
    background-color: #00baf3;
    font-family: "Source Sans Pro", Arial, sans-serif;
    padding: 11px 30px;
    border-radius: 4px;
    font-weight: 400;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 16px;
    color: #fff;
    animation: up 1s cubic-bezier(.77,0,.18,1) forwards;
    animation-direction: normal;
    z-index: 9;
}
.alert_close
{
    animation: down 1s cubic-bezier(.77,0,.18,1) forwards;
}
.alert_success{
    background-color: #99c93d;
}
.alert_warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.alert_error {
    background: #d14130;
    color: #fff;
}
.alert .close{
    width: 10px;
    position: absolute;
    right: 8px;
    top: 5px;
    cursor: pointer;
}
@keyframes down{
    0%{
        bottom: 20px;
        background-color: rgba(153, 201, 61, 1);
    }
    100%{
        bottom: -100%;
        background-color: rgba(153, 201, 61, 0);
    }
}
@keyframes up{
    0%{
        bottom: -100%;
        background-color: rgba(153, 201, 61, .1);
    }
    100%{
        bottom: 20px;
        background-color: rgba(153, 201, 61, 1);
    }
}

.icon
{
    width: 15px;
}
.icon.comment_response_icon svg
{
    transform: translateY(2px);
}
.icon.comment_show_children_icon svg
{
    transform: translateY(2px);
}
.icon.comments_icon
{
    position: absolute;
    width: var(--padding-comment-content);
    top: 25px;
    z-index: 1;
    left: 0;
    transform: translateX( calc(-50% - var(--padding-comment-content) ) );
}
.inline_flex_space{display: flex; align-items: center; justify-content: space-between; flex-wrap: wrap;}
.main
{
    padding: 0 calc(var(--padding-comment-content) * 2);
    overflow-y: auto;
}
.container
{
    width: 900px;
    max-width: 100%;
    margin: 0 auto;
    background-color: var(--secondary-background-color);
    padding: 0 2em;
}

/* Confirm Modal */
.confirm_delete
{
    display: none;
    align-items: flex-start;
    justify-content: center;
    padding-top: 20px;
    z-index: 9;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    min-height: 100vh;
    background-color:rgba(54, 56, 58, 0.5);
}
.confirm_delete.show{display: flex;}

.confirm_delete_container
{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 500px;
    background-color: #fff;
    border-radius: 4px;
    padding: .8em;
    box-shadow: 2px 2px 4px rgba(54, 56, 58, 0.6);
}
.confirm_delete_container .content
{
    border: none;
    text-align: center;
    font-size: 16px;
    padding-top: .4em;
    padding-bottom: 1em;
}
.confirm_delete_container .actions
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .8em 0;
}
.confirm_delete_container .actions .delete,
.confirm_delete_container .actions .cancel
{
    border: 1px solid var(--red-color);
    background-color: var(--red-color);
    color: #fff;
    padding: .4em .8em;
    border-radius: 4px;
    box-shadow: 0 4px 8px var(--content-third-color);
    cursor: pointer;
    transition: .3s box-shadow;
}
.confirm_delete_container .actions .cancel
{
    border: 1px solid var(--green-color);
    background-color: var(--green-color);
}
.confirm_delete_container .actions .delete:hover,
.confirm_delete_container .actions .cancel:hover
{
    box-shadow: none;
}
/* End Confirm Modal */

.content
{
    background-color: var(--third-background-color);
    padding: 2em var(--padding-comment-content);
    border-left: 2px solid var(--primary-background-color);
}
.add_comment
{
    width: 100%;
    border-top: 1px solid var(--background-color);
    border-bottom: 1px solid var(--background-color);
    margin: 1em 0;
    padding: .8em 0;
}
.form-wrapper
{
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.add_comment .new_comment
{
    padding: .4em; 
    margin-top: .4em;
    resize: none;
    min-height: 50px;
    font-size: 14px;
    border: 1px solid var(--background-color);
    border-radius: 4px;
    box-shadow: none;
    outline: none;
}
.add_comment .new_comment::placeholder
{
    font-size: 14px;
    color: #6b6b6b;
}
.add_comment .add_comment_btn
{
    background-color: var(--content-primary-color);
    border: 1px solid var(--content-primary-color);
    border-radius: 4px;
    box-shadow: 0 4px 8px var(--content-third-color);
    outline: none;
    color: #fff;
    padding: .4em .8em;
    margin-top: .4em;
    cursor: pointer;
    transition: .3s all;
    text-transform: uppercase;
}
.add_comment .add_comment_btn:hover
{
    box-shadow: none;
}
.comment
{
    position: relative;
    display: flex;
    padding-bottom: var(--margin-between-comment);
}

.comment_container
{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
}
.comment .comment_content
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 4px solid var(--content-primary-color);
    padding: .6em;
    background-color: var(--third-background-color);
    box-shadow: 1px 1px 4px var(--background-color);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.comment_element .comment_container >  .comments_children_container
{
    padding-left: 1em;
    height: 0;
    overflow: hidden;
    transition: .5s height;
}
.comment_element.show .comment_container >  .comments_children_container
{
    height: auto;
}
.comment .comment_content_child
{

    border-left: 4px solid var(--content-secondary-color);
    border-radius: 5px;
    margin-top: calc(var(--margin-between-comment) - .2em);
    border-top: 1px solid var(--primary-background-color);
    border-bottom: 1px solid var(--primary-background-color);
    border-right: 1px solid var(--primary-background-color);
}

.comment .comment_content_header .comment_since
{
    color: var(--content-third-color);
}
.comment .comment_content_body
{
    color: var(--content-primary-color);
}
.comment .comment_content_body{
    margin: 1em 0 2em 0;
    font-weight: 400;
    word-break: break-all;

}
.comment .comment_content_footer
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: var(--content-secondary-color);
}
.comment .comment_content_footer >*
{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.comment .comment_content_footer >* .icon
{
    margin-right: 4px;
}
.comment .comment_content_footer .comment_actions
{
    display: flex;
    align-items: center;
    color: var(--content-third-color);
    transition: .3s color;
}
.comment .comment_content_footer .comment_actions:hover
{
    color: var(--content-primary-color);
}
.comment_element svg.hide,
.comment_element.show svg.show
{
    display: none;
}
.comment_element.show svg.hide,
.comment_element svg.show
{
    display: inline-block;
}
.comment_element .comment_content_footer .form
{
    height: 0;
    overflow:hidden;
    transition: .5s height;
}
.comment_element .comment_content_footer .form.show
{
    height: 60px;
}
.comment .comment_content_footer .add_comment
{
    z-index: 9;
    width: 100%;
    border-bottom: none;
    margin-top: .4em;
    margin-bottom: 0;
    padding-top: .4em;
    padding-bottom: 0;
}
.comment .comment_content_footer .add_comment > *{
    width: 100%;
}
.comment .comment_content_footer .add_comment .new_comment::placeholder{font-size: 12px;}
.comment .comment_content_footer .add_comment .new_comment
{
    height: 40px;
    font-size: 12px;
    min-height: 20px;
}
@media only screen and (max-width: 650px)
{
    .comment_actions:not(.comment_vote_action) span
    {
        display: none;
    }
    .main{
        padding: 0;
    }
}
@media only screen and (max-width: 550px)
{
    .container
    {
        padding: 0 .8em;
    }
    .comment .comment_container > .comments_children_container
    {
        padding-left: .8em;
    }
}